@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto+Condensed:wght@300&display=swap");

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/ -1;
}
.headerTitle {
  font-family: "Bruno Ace SC", cursive;
  font-size: 2rem;
}
.headerButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.headerButton {
  margin: 0 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
}
