@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}
html {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 5%,
    rgba(29, 35, 56, 1) 29%,
    rgba(46, 55, 88, 1) 61%
  );
  scroll-behavior: smooth;
}
.mainViewContainer {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 90px 1fr;
  grid-row-gap: 200px;
  min-height: 100vh;
  padding: 90px;
  color: rgb(248, 245, 241);
  font-family: "Roboto Condensed", sans-serif;

  background-image: url("../images/backgroundImage1.jpg"),
    url("../images/backgroundImage4.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100vh;
  background-position: top, bottom -350px left 0px;
}

.mainViewContainer > * {
  grid-column: 2;
  min-width: 0;
}
